/vendor


# Ignore PHPUnit result cache
.phpunit.result.cache

/tests/Plugin/Elementor/ExampleCommandTest.php

src/Plugin/Elementor/ExampleCommand.php
src/Plugin/Elementor/ExampleDependency.php
src/Plugin/Elementor/ExampleService.php
