.header {
    padding: 35px 20px 35px 20px;
    margin: 0 20px 0 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    background: #fff;
    margin: 0 -20px 0;
}

.logo {
    height: 40px;
    padding-left: 25px;
}

.api-key-input {
    max-width: 500px;
    margin-bottom: 20px;
}

.placement-id {
    max-width: 500px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 36px;
}

.integrating-description {
    margin-top: 20px;
}

a.dashboard-link {
    font-weight: bold;
    color: #5353F5;
    text-decoration: none !important;
    margin-left: 10px;
}

.save-button {
    display: inline-flex;
    align-items: center;
    width: 70px;
    border-radius: 0.375rem;
    background-color: #5353F5; 
    padding: 0.60rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s;
}

.save-button:hover {
    background-color: rgba(83, 83, 245, 0.8);
}

.save-button:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(83, 83, 245, 0.9);
}